################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project Eluler
/Project Eluler/obj
/Project Eluler/bin/Debug/netcoreapp3.0
